@charset "UTF-8";
.hidden {
  display: none !important; }

.none {
  display: none; }

div::after, nav::after, ul::after, form::after {
  content: '';
  display: table;
  clear: both; }

.hidden {
  display: none; }

.overlay-bg {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); }

.pop-up {
  display: none;
  width: 810px;
  background-color: #fff;
  overflow: hidden;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .pop-up h3 {
    padding: 30px;
    font-family: 'bebasneue_regular', sans-serif;
    font-size: 42px;
    text-align: center;
    line-height: 42px;
    background-color: #fdc200; }
  .pop-up h4 {
    margin-bottom: 10px;
    font-family: 'opensans-light_1', sans-serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 25px;
    text-align: center; }
  .pop-up p {
    font-family: 'opensans-light_1', sans-serif;
    font-size: 16px;
    line-height: 20px; }
  .pop-up > div {
    float: left;
    padding: 30px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .pop-up .info-block {
    width: 506px; }
  .pop-up .image-box {
    width: 506px;
    padding: 0; }
  .pop-up .form-box {
    width: 304px; }
    .pop-up .form-box p {
      margin-bottom: 10px; }
  .pop-up .popup__content {
    width: 304px;
    padding: 0; }
    .pop-up .popup__content > div {
      padding: 30px; }
    .pop-up .popup__content form {
      margin-top: 30px; }
    .pop-up .popup__content .notice {
      text-align: center; }
    .pop-up .popup__content .small__h3 {
      font-size: 22px; }
  .pop-up .notice {
    font-size: 22px;
    line-height: 25px; }
  .pop-up .remark {
    margin-top: 10px;
    font-size: 12px;
    text-align: center; }

.popup__small {
  width: 600px; }
  .popup__small h3 span {
    font-size: 34px; }
  .popup__small > div {
    width: 50%; }

.popup__services, .popup__hashtags {
  width: 701px; }
  .popup__services .info-block, .popup__services .image-box, .popup__hashtags .info-block, .popup__hashtags .image-box {
    width: 397px; }

.popup__services .popup__content p {
  text-align: center; }
.popup__services .notice {
  margin-bottom: 10px;
  font-size: 42px;
  line-height: 42px; }
.popup__services .popup__content form {
  margin-top: 20px; }
.popup__services .avatar .title {
  font-size: 22px; }

.popup__hashtags h3 {
  font-family: 'opensans-light_1', sans-serif;
  font-size: 30px; }

.popup__examples .popup__content form {
  margin-top: 50px; }
.popup__examples .avatar {
  margin-top: 20px;
  margin-bottom: 0; }
  .popup__examples .avatar .title {
    font-size: 22px; }
.popup__examples .info-block, .popup__examples .form-box {
  width: 50%; }
.popup__examples .form-box p {
  margin-top: 60px; }

.popup__video {
  width: 940px;
  height: 526px; }
  .popup__video h3 {
    font-size: 36px; }
  .popup__video .video-box {
    width: 636px;
    padding: 0; }

.popup__video-form {
  width: 940px;
  height: 526px;
  padding: 70px 130px;
  background-color: #e9e9e9; }
  .popup__video-form h3 {
    background-color: transparent; }
  .popup__video-form .info-block {
    width: 376px; }

.popup__calculate-cost {
  width: 600px; }
  .popup__calculate-cost h4 {
    margin-bottom: 40px;
    text-transform: uppercase; }
  .popup__calculate-cost > div {
    width: 100%; }
  .popup__calculate-cost .steps__counter {
    padding-bottom: 20px; }
  .popup__calculate-cost .steps__wrap {
    padding-bottom: 40px; }
  .popup__calculate-cost .progress-bar {
    width: 520px;
    height: 30px;
    margin: 0 auto;
    background-color: #ececec;
    overflow: hidden;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; }
  .popup__calculate-cost .progress-scale {
    width: 50%;
    height: 30px;
    background-color: #fdc200;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -o-animation: progress-bar 4s steps(5, start) forwards;
    -moz-animation: progress-bar 4s steps(5, start) forwards;
    -webkit-animation: progress-bar 4s steps(5, start) forwards;
    animation: progress-bar 4s steps(5, start) forwards; }

@-webkit-keyframes progress-bar {
  0% {
    width: 0; }
  25% {
    width: 20%; }
  40% {
    width: 20%; }
  50% {
    width: 65%; }
  75% {
    width: 65%; }
  100% {
    width: 100%; } }
@-moz-keyframes progress-bar {
  0% {
    width: 0; }
  25% {
    width: 20%; }
  40% {
    width: 20%; }
  50% {
    width: 65%; }
  75% {
    width: 65%; }
  100% {
    width: 100%; } }
@-o-keyframes progress-bar {
  0% {
    width: 0; }
  25% {
    width: 20%; }
  40% {
    width: 20%; }
  50% {
    width: 65%; }
  75% {
    width: 65%; }
  100% {
    width: 100%; } }
@keyframes progress-bar {
  0% {
    width: 0; }
  25% {
    width: 20%; }
  40% {
    width: 20%; }
  50% {
    width: 65%; }
  75% {
    width: 65%; }
  100% {
    width: 100%; } }
.steps__counter {
  font-family: 'opensans-light_1', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #a0a0a0;
  text-align: center; }
  .steps__counter span {
    margin: 0 20px; }
  .steps__counter .active {
    color: #e02f00; }

.steps__wrap .step {
  display: none; }
  .steps__wrap .step.active {
    display: block; }
.steps__wrap .payment-ready > div {
  float: left;
  width: 50%; }

.test__form {
  position: relative;
  z-index: 2; }
  .test__form input[type="submit"] {
    margin-top: 10px; }
  .test__form input[type="radio"], .test__form input[type="checkbox"] {
    display: none; }
    .test__form input[type="radio"]:checked + .radio-label::after, .test__form input[type="radio"]:checked + .checkbox-label::after, .test__form input[type="checkbox"]:checked + .radio-label::after, .test__form input[type="checkbox"]:checked + .checkbox-label::after {
      opacity: 1;
      visibility: visible; }
  .test__form label {
    position: relative;
    z-index: 2;
    display: inline-block;
    width: 110px;
    padding-top: 40px;
    font-family: 'opensans-light_1', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    text-align: center;
    cursor: pointer;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .test__form label::before, .test__form label::after {
      content: '';
      display: block;
      position: absolute;
      z-index: 2;
      left: 50%;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
    .test__form label::before {
      top: 0;
      width: 30px;
      height: 30px;
      margin-left: -15px;
      background-color: #fff;
      border: 2px solid #000; }
    .test__form label::after {
      margin-left: -10px;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all 0.2s ease-in-out 0s;
      -moz-transition: all 0.2s ease-in-out 0s;
      -o-transition: all 0.2s ease-in-out 0s;
      transition: all 0.2s ease-in-out 0s; }
  .test__form .radio-label::before, .test__form .radio-label::after {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
  .test__form .radio-label::after {
    top: 5px;
    width: 20px;
    height: 20px;
    background-color: #e02f00; }
  .test__form .checkbox-label {
    font-size: 16px; }
    .test__form .checkbox-label::after {
      top: 6px;
      width: 21px;
      height: 17px;
      background: url("../images/checked.png") no-repeat; }
  .test__form .radio-block, .test__form .checkbox-block {
    float: left;
    margin-bottom: 25px;
    text-align: center; }
  .test__form .radio-block {
    width: 50%; }
  .test__form .checkbox-block {
    width: 33%; }

.error-block {
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 65px;
  width: 100%;
  font-family: 'opensans-light_1', sans-serif;
  color: #e52b00;
  text-align: center; }

.avatar {
  margin-bottom: 20px; }
  .avatar p {
    padding-left: 75px; }
  .avatar video {
    float: left;
    margin-right: 10px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
  .avatar .title {
    margin-bottom: 10px;
    font-size: 26px;
    font-weight: bold; }

.popup__form {
  width: 240px;
  margin: 0 auto; }
  .popup__form input[type="text"]:not(#uptocall-phone) {
    width: 100%;
    height: 45px;
    padding: 0 20px;
    margin-bottom: 20px;
    text-indent: 0;
    font-size: 16px;
    line-height: 45px;
    border: 2px solid #646464;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .popup__form input[type="submit"] {
    width: 240px;
    font-size: 26px; }

.services__form input[type="submit"] {
  font-size: 22px; }

.slider__form {
  width: 771px;
  height: 610px;
  padding: 170px 70px;
  text-align: left;
  /*background-color: #e9e9e9;*/
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .slider__form p {
    font-family: 'opensans-light_1', sans-serif;
    font-size: 17px; }
  .slider__form > div {
    float: left;
    padding: 30px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .slider__form .info-block {
    width: 326px; }
  .slider__form .avatar img {
    width: 64px; }
  .slider__form .form-box {
    width: 304px; }
  .slider__form .popup__content {
    width: 304px;
    padding: 0; }
    .slider__form .popup__content > div {
      padding: 30px; }
    .slider__form .popup__content form {
      margin-top: 30px; }
    .slider__form .popup__content .notice {
      text-align: center; }
    .slider__form .popup__content .small__h3 {
      font-size: 34px; }
  .slider__form .notice {
    font-size: 22px;
    line-height: 25px; }
  .slider__form .remark {
    margin-top: 10px;
    font-size: 12px;
    text-align: center; }

.bottom-menu a.call-me {
  display: block;
  width: 160px;
  height: 40px;
  padding: 0;
  margin: 15px 20px;
  line-height: 36px;
  color: #ffc000;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #ffc000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .bottom-menu a.call-me:hover {
    color: #333;
    background: rgba(255, 192, 0, 0.9); }

.icon-box {
  position: relative;
  z-index: 2;
  height: 65px; }
  .icon-box img {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    -ms-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0); }

.bottom-data {
  margin: 30px 0;
  font-family: 'opensans-light_1', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  line-height: 20px;
  text-align: center; }
  .bottom-data a {
    display: inline-block;
    padding: 5px;
    color: #fff; }
    .bottom-data a:hover {
      text-decoration: none; }

.video__link {
  display: block;
  width: 940px;
  height: 529px;
  background: url("../images/video_screen_1.jpg") no-repeat; }

.calculate-cost__form {
  width: 771px;
  margin: 0 auto; }
  .calculate-cost__form h3 {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 30px; }
  .calculate-cost__form input {
    float: left;
    margin-right: 25px; }
  .calculate-cost__form input[type="text"]:not(#uptocall-phone) {
    width: 240px;
    height: 45px;
    padding: 0 20px;
    text-indent: 0;
    font-size: 15px;
    line-height: 45px;
    border: 2px solid #646464;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .calculate-cost__form input[type="submit"] {
    width: 240px;
    height: 45px;
    margin: 0;
    font-size: 22px;
    line-height: 45px; }

.reviews__text {
  margin-top: 20px; }
  .reviews__text p {
    margin-bottom: 20px;
    line-height: 20px;
    text-align: justify; }

.details a {
  display: block;
  color: #000;
  text-align: center;
  line-height: 78px; }
  .details a:hover {
    text-decoration: none; }

/*pop-up control*/
.lightbox-prev, .lightbox-next {
  position: absolute;
  z-index: 2;
  top: 50%;
  width: 54px;
  height: 54px;
  margin-top: -25px;
  border: 3px solid #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer; }
  .lightbox-prev::after, .lightbox-next::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    top: 12px;
    width: 20px;
    height: 20px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff; }

.lightbox-prev {
  left: -90px; }
  .lightbox-prev::after {
    left: 18px;
    -ms-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg); }

.lightbox-next {
  right: -90px; }
  .lightbox-next::after {
    right: 18px;
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }

.lightbox-close {
  position: absolute;
  z-index: 2;
  top: -10px;
  right: -5px;
  width: 50px;
  height: 50px;
  cursor: pointer; }
  .lightbox-close::after {
    content: '\00D7';
    display: block;
    position: absolute;
    z-index: 2;
    top: 18px;
    left: 18px;
    font-size: 36px;
    font-weight: bold; }

.fancybox-overlay {
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.75); }

.fancybox-opened {
  z-index: 999999; }

.hidden-cap {
  display: block;
  position: absolute;
  z-index: 5;
  top: 50%;
  width: 54px;
  height: 54px;
  margin-top: -25px; }

.prev-cap {
  left: -90px; }

.next-cap {
  right: -90px; }

#player {
  width: 636px;
  height: 526px; }

#map {
  width: 100%;
  height: 470px; }

/*slider*/
.owl-carousel p {
  font-family: 'opensans-light_1', sans-serif;
  font-size: 17px; }
.owl-carousel .owl-prev, .owl-carousel .owl-next {
  position: absolute;
  z-index: 2;
  top: 50%;
  width: 54px;
  height: 54px;
  margin-top: -25px;
  border: 3px solid #000;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer; }
  .owl-carousel .owl-prev::after, .owl-carousel .owl-next::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    top: 12px;
    width: 20px;
    height: 20px;
    border-top: 3px solid #000;
    border-right: 3px solid #000; }
.owl-carousel .owl-prev {
  left: -90px; }
  .owl-carousel .owl-prev::after {
    left: 18px;
    -ms-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg); }
.owl-carousel .owl-next {
  right: -90px; }
  .owl-carousel .owl-next::after {
    right: 18px;
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }

/*Чайный пакетик*/
.manager-notification {
  position: fixed;
  z-index: 9999;
  top: -220px;
  left: 20%;
  width: 125px;
  height: 200px;
  opacity: 0;
  -webkit-transition: 1.5s top ease-in-out, 3s opacity;
  -moz-transition: 1.5s top ease-in-out, 3s opacity;
  -o-transition: 1.5s top ease-in-out, 3s opacity;
  transition: 1.5s top ease-in-out, 3s opacity; }
  .manager-notification::before, .manager-notification::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 9999;
    left: 50%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .manager-notification::before {
    top: -216px;
    width: 2px;
    height: 240px;
    margin-left: -1px;
    border-right: 2px solid #e52b00; }
  .manager-notification::after {
    top: 24px;
    width: 10px;
    height: 10px;
    margin-left: -5px;
    background-color: #e52b00;
    /* border: 1px solid #e52b00;*/
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
  .manager-notification.active {
    top: 65px;
    opacity: 1; }
  .manager-notification a {
    display: block;
    padding: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .manager-notification a:hover {
      text-decoration: none; }
  .manager-notification .tea-bag {
    position: relative;
    z-index: 2;
    display: block;
    width: 105px;
    height: 180px;
    padding-top: 35px;
    font-size: 16px;
    color: #000;
    text-align: center;
    background-color: #fff;
    border: 2px solid #e52b00;
    -moz-border-radius: 10px 10px 60px 60px;
    -webkit-border-radius: 10px 10px 60px 60px;
    border-radius: 10px 10px 60px 60px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .manager-notification .tea-bag video {
      position: absolute;
      z-index: 2;
      left: 10px;
      bottom: 10px;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%; }
  .manager-notification .number-posts {
    display: block;
    position: absolute;
    z-index: 2;
    right: 5px;
    bottom: 5px;
    width: 32px;
    height: 32px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    line-height: 28px;
    background-color: #e52b00;
    border: 2px solid #fff;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.manager-message {
  padding: 100px 0;
  font-family: 'opensans-light_1', sans-serif;
  font-size: 16px; }
  .manager-message.active .text-box p, .manager-message.active .order-call__form {
    opacity: 1; }
  .manager-message p {
    font-family: 'opensans-light_1', sans-serif;
    font-size: 16px; }
  .manager-message .image-box, .manager-message .text-box {
    float: left; }
  .manager-message .image-box {
    width: 34%; }
  .manager-message .text-box {
    width: 66%; }
    .manager-message .text-box p {
      margin-bottom: 15px;
      opacity: 0;
      -webkit-transition: opacity 0.6s ease-in-out;
      -moz-transition: opacity 0.6s ease-in-out;
      -o-transition: opacity 0.6s ease-in-out;
      transition: opacity 0.6s ease-in-out; }
  .manager-message .video-box {
    width: 260px;
    margin: 0;
    line-height: 20px;
    text-align: center; }
    .manager-message .video-box video {
      margin-bottom: 49px;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%; }

.order-call__form {
  opacity: 0;
  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out; }
  .order-call__form input {
    float: left;
    width: 49%; }
    .order-call__form input + input {
      margin-left: 2%; }
  .order-call__form input[type="text"]:not(#uptocall-phone) {
    height: 60px;
    line-height: 60px;
    border-color: #646464; }

/*Плашка Рассчитать стоимость*/
.calculate-cost {
  position: fixed;
  z-index: 9999;
  left: 0;
  bottom: 35px;
  width: 460px;
  height: 86px;
  -webkit-transition: 1.5s top ease-in-out, 3s opacity;
  -moz-transition: 1.5s top ease-in-out, 3s opacity;
  -o-transition: 1.5s top ease-in-out, 3s opacity;
  transition: 1.5s top ease-in-out, 3s opacity; }
  .calculate-cost a {
    display: block;
    padding: 10px 10px 10px 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .calculate-cost a:hover {
      text-decoration: none; }
  .calculate-cost span {
    position: relative;
    z-index: 9999;
    display: block;
    width: 420px;
    height: 66px;
    padding: 13px 20px 15px 113px;
    font-family: 'opensans-light_1', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #e02f00;
    -moz-border-radius: 0 20px 20px 0;
    -webkit-border-radius: 0 20px 20px 0;
    border-radius: 0 20px 20px 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*  &::after {
          content: '';
          display: block;
          position: absolute;
          z-index: 9999;
          top: -9px;
          left: 18px;
          width: 84px;
          height: 84px;
          background-color: #fff;
          border: 4px solid #e02f00;
          @include border-radius(50%);
          @include box-sizing(border-box);
      }*/ }
    .calculate-cost span video {
      position: absolute;
      z-index: 2;
      top: -9px;
      left: 18px;
      background-color: #fff;
      border: 4px solid #e02f00;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%; }

/*delay*/
.tr-delay-2 {
  -webkit-transition-delay: 0.2s !important;
  -moz-transition-delay: 0.2s !important;
  -o-transition-delay: 0.2s !important;
  transition-delay: 0.2s !important; }

.tr-delay-4 {
  -webkit-transition-delay: 0.4s !important;
  -moz-transition-delay: 0.4s !important;
  -o-transition-delay: 0.4s !important;
  transition-delay: 0.4s !important; }

.tr-delay-6 {
  -webkit-transition-delay: 0.6s !important;
  -moz-transition-delay: 0.6s !important;
  -o-transition-delay: 0.6s !important;
  transition-delay: 0.6s !important; }

.tr-delay-8 {
  -webkit-transition-delay: 0.8s !important;
  -moz-transition-delay: 0.8s !important;
  -o-transition-delay: 0.8s !important;
  transition-delay: 0.8s !important; }

.tr-delay-10 {
  -webkit-transition-delay: 1s !important;
  -moz-transition-delay: 1s !important;
  -o-transition-delay: 1s !important;
  transition-delay: 1s !important; }

.tr-delay-12 {
  -webkit-transition-delay: 1.2s !important;
  -moz-transition-delay: 1.2s !important;
  -o-transition-delay: 1.2s !important;
  transition-delay: 1.2s !important; }

/*# sourceMappingURL=popup.css.map */
