@charset "UTF-8";
div::after, nav::after, ul::after, form::after {
  content: '';
  display: table;
  clear: both; }

.hidden {
  display: none; }

.pop-up {
  display: none;
  width: 810px;
  background-color: #fff;
  overflow: hidden;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .pop-up h3 {
    padding: 30px;
    font-family: 'bebasneue_regular', sans-serif;
    font-size: 42px;
    text-align: center;
    line-height: 42px;
    background-color: #fdc200; }
  .pop-up h4 {
    margin-bottom: 10px;
    font-family: 'opensans-light_1', sans-serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 25px;
    text-align: center; }
  .pop-up p {
    font-family: 'opensans-light_1', sans-serif;
    font-size: 17px; }
  .pop-up > div {
    float: left;
    padding: 30px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .pop-up .info-block {
    width: 506px; }
  .pop-up .image-box {
    width: 506px;
    padding: 0; }
  .pop-up .form-box {
    width: 304px; }
  .pop-up .popup__content {
    width: 304px;
    padding: 0; }
    .pop-up .popup__content > div {
      padding: 30px; }
    .pop-up .popup__content form {
      margin-top: 30px; }
    .pop-up .popup__content .notice {
      text-align: center; }
  .pop-up .notice {
    font-size: 22px;
    line-height: 25px; }

.popup__call-back {
  width: 600px; }
  .popup__call-back > div {
    width: 50%; }

.popup__services {
  width: 701px; }
  .popup__services .info-block, .popup__services .image-box {
    width: 397px; }

.popup__examples .popup__content form {
  margin-top: 50px; }

.avatar {
  margin-bottom: 20px; }
  .avatar img {
    float: left;
    margin-right: 10px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
  .avatar .title {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold; }

.popup__form {
  width: 240px;
  margin: 0 auto; }
  .popup__form input[type="text"]:not(#uptocall-phone) {
    width: 100%;
    height: 45px;
    padding: 0 20px;
    margin-bottom: 20px;
    text-indent: 0;
    font-size: 15px;
    line-height: 45px;
    border: 2px solid #646464;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .popup__form input[type="submit"] {
    width: 240px;
    font-size: 26px; }

.services__form input[type="submit"] {
  font-size: 22px; }

/*Чайный пакетик*/
.manager-notification {
  position: fixed;
  z-index: 99999;
  top: -220px;
  left: 20%;
  width: 125px;
  height: 200px;
  opacity: 0;
  -webkit-transition: 1.5s top ease-in-out, 3s opacity;
  -moz-transition: 1.5s top ease-in-out, 3s opacity;
  -o-transition: 1.5s top ease-in-out, 3s opacity;
  transition: 1.5s top ease-in-out, 3s opacity; }
  .manager-notification::before, .manager-notification::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 99999;
    left: 50%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .manager-notification::before {
    top: -176px;
    width: 2px;
    height: 200px;
    margin-left: -1px;
    border-right: 2px solid #e52b00; }
  .manager-notification::after {
    top: 24px;
    width: 10px;
    height: 10px;
    margin-left: -5px;
    background-color: #e52b00;
    /* border: 1px solid #e52b00;*/
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
  .manager-notification.active {
    top: 10px;
    opacity: 1; }
  .manager-notification a {
    display: block;
    padding: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .manager-notification .tea-bag {
    position: relative;
    z-index: 2;
    display: block;
    width: 105px;
    height: 180px;
    background-color: #fff;
    border: 1px solid #e52b00;
    -moz-border-radius: 10px 10px 60px 60px;
    -webkit-border-radius: 10px 10px 60px 60px;
    border-radius: 10px 10px 60px 60px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .manager-notification .number-posts {
    display: block;
    position: absolute;
    z-index: 2;
    right: 5px;
    bottom: 5px;
    width: 30px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    line-height: 26px;
    text-align: center;
    background-color: #e52b00;
    border: 2px solid #fff;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.manager-message {
  padding: 100px 0; }
  .manager-message.active .text-box p, .manager-message.active .order-call__form {
    opacity: 1; }
  .manager-message p {
    font-family: 'opensans-light_1', sans-serif; }
  .manager-message .image-box, .manager-message .text-box {
    float: left; }
  .manager-message .image-box {
    width: 33%; }
  .manager-message .text-box {
    width: 67%; }
    .manager-message .text-box p {
      margin: 20px 0;
      opacity: 0;
      -webkit-transition: opacity 0.5s ease-in-out;
      -moz-transition: opacity 0.5s ease-in-out;
      -o-transition: opacity 0.5s ease-in-out;
      transition: opacity 0.5s ease-in-out; }
  .manager-message figure {
    width: 260px;
    margin: 0;
    font-size: 18px;
    line-height: 20px;
    text-align: center; }
    .manager-message figure img {
      margin-bottom: 20px; }

.order-call__form {
  opacity: 0;
  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out; }
  .order-call__form input {
    float: left;
    width: 49%; }
    .order-call__form input + input {
      margin-left: 2%; }
  .order-call__form input[type="text"]:not(#uptocall-phone) {
    border-color: #646464; }

/*delay*/
.tr-delay-4 {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }

.tr-delay-8 {
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s; }

.tr-delay-12 {
  -webkit-transition: 1.2s;
  -moz-transition: 1.2s;
  -o-transition: 1.2s;
  transition: 1.2s; }

.tr-delay-16 {
  -webkit-transition: 1.6s;
  -moz-transition: 1.6s;
  -o-transition: 1.6s;
  transition: 1.6s; }

.tr-delay-20 {
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -o-transition: 2s;
  transition: 2s; }

.tr-delay-24 {
  -webkit-transition: 2.4s;
  -moz-transition: 2.4s;
  -o-transition: 2.4s;
  transition: 2.4s; }

/*# sourceMappingURL=popup.css.map */
