@charset "utf-8";

@import 'mixin';

div, nav, ul, form {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

.pop-up {
    display: none;
    width: 790px;
    background-color: #fff;
    overflow: hidden;
    @include border-radius(15px);
    @include box-sizing(border-box);

    h3 {
        padding: 30px;
        font-family: 'bebasneue_regular', sans-serif;
        font-size: 40px;
        text-align: center;
        line-height: 40px;
        background-color: #fdc200;
    }
    h4 {
        font-family: 'opensans-light_1', sans-serif;
        font-size: 24px;
        font-weight: bold;
        line-height: 25px;
        text-align: center;
    }
    p {
        font-family: 'opensans-light_1', sans-serif;
        font-size: 16px;
    }
    > div {
        float: left;
        width: 320px;
        padding: 30px;
        @include box-sizing(border-box);

        &:first-of-type {
            width: 470px;
        }
    }
    .image-box {
        padding: 0;
    }
    .popup__content {
        padding: 0;
        > div {
            padding: 30px;
        }
        form {
            margin-top: 30px;
        }
        .notice
        {
            text-align: center;
        }
    }
    .notice {
        font-size: 20px;
        line-height: 25px;
    }
}

.avatar {
    margin-bottom: 15px;
    img {
        float: left;
        margin-right: 10px;
        @include border-radius(50%);
    }
    .title {
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: bold;
    }
}

.popup__form {
    width: 260px;
    margin: 0 auto;
    input[type="text"]:not(#uptocall-phone) {
        width: 100%;
        height: 45px;
        padding: 0 20px;
        margin-bottom: 20px;
        text-indent: 0;
        font-size: 16px;
        line-height: 45px;
        border: 2px solid #646464;
        @include border-radius(7px);
        @include box-sizing(border-box);
    }
}
.services__form {
    input[type="submit"] {
        font-size: 24px;
    }
}